<fieldset>
    <legend>{{ localize "DEGRINGO5E.ItemToolProperties" }}</legend>

    {{!-- Tool Type --}}
    {{ formField fields.type.fields.value value=source.type.value choices=CONFIG.toolTypes label="DEGRINGO5E.ItemToolType"
                 blank="" localize=true }}

    {{!-- Base Tool --}}
    {{#if baseItemOptions.length}}
    {{ formField fields.type.fields.baseItem value=source.type.baseItem options=baseItemOptions blank=""
                 label="DEGRINGO5E.ItemToolBase" localize=true }}
    {{/if}}

    {{!-- Tool Properties --}}
    {{ formField fields.properties options=properties.options label="DEGRINGO5E.ItemToolProperties" localize=true
                 input=inputs.createMultiCheckboxInput stacked=true classes="checkbox-grid checkbox-grid-3" }}

    {{!-- Ability Check --}}
    <div class="form-group">
        <label>{{ localize "DEGRINGO5E.ActionAbil" }}</label>
        <div class="form-fields">

            {{!-- Proficiency --}}
            {{ formField fields.proficient value=source.proficient choices=CONFIG.proficiencyLevels
                         label="DEGRINGO5E.Proficiency" blank="DEGRINGO5E.Automatic" localize=true classes="label-top" }}

            {{!-- Ability --}}
            {{ formField fields.ability value=source.ability choices=CONFIG.abilities labelAttr="label"
                         label="DEGRINGO5E.Ability" blank="DEGRINGO5E.Default" localize=true classes="label-top" }}
        </div>
    </div>

    {{!-- Tool Bonus --}}
    {{ formField fields.bonus value=source.bonus localize=true }}

    {{!-- Attunement --}}
    {{#if properties.object.mgc}}
    <div class="form-group">
        <label>{{ localize "DEGRINGO5E.Attunement" }}</label>
        <div class="form-fields">

            {{!-- Attuned --}}
            {{#if source.attunement}}
            {{ formInput fields.attuned value=source.attuned input=inputs.createCheckboxInput
                         ariaLabel=(localize "DEGRINGO5E.Attuned") dataset=(degringo5e-object tooltip="DEGRINGO5E.Attuned") }}
            {{/if}}

            {{!-- Attunement --}}
            {{ formInput fields.attunement value=source.attunement choices=CONFIG.attunementTypes
                         blank="DEGRINGO5E.AttunementNone" localize=true }}
        </div>
    </div>
    {{/if}}
</fieldset>
